.image {
  background-color: #490D40;
  background-size: cover;
  height: auto;
  margin-top: auto;
}
.image .heading {
  color: white;
  text-align: center;
  padding-top: auto;
}
.image p {
  text-align: center;
  padding: auto;
}
.image p .btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: auto;
  font-size: 1.2em;
}
.image p .btn:hover {
  color:rgb(151, 151, 151);
  border-color: rgb(119, 77, 128);
}


.navbar {
  margin: auto;
  height: 70px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
  margin-top: auto;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color:rgb(146, 143, 143);
  border: 1px solid rgb(108, 70, 116);
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(165, 105, 177);
  border: 1px solid rgb(167, 108, 179);
}
.navbar-default .navbar-nav > li > a:visited {
  color: rgb(95, 53, 104);
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: rgb(99, 65, 105);
}
.navbar-default .navbar-toggle {
  border-color: rgb(86, 57, 92);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar {
  color: rgb(72, 60, 75);
  background-color: rgb(92, 60, 99);
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #490D40;
}

/* Solid class attached on scroll past first section */
.navbar.start {
  background-color: rgb(34, 27, 33);
  transition: background-color 5s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid {
  background-color: rgb(26, 5, 23);
  transition: background-color 3s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: rgb(122, 121, 121);
  transition: color 2s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: rgb(43, 5, 51);
  transition: color 1s ease 0s;
}

.about {
  background-color: rgb(128, 81, 138);
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
.about h2 {
  padding-top: 220px;
}
.about p {
  padding: 20px 80px;
}
